<nav class="navbar">
  <div class="navbar-content">
    <p>KS</p>
  </div>
  <div class="navbar-content invisible">
    <p>KS</p>
  </div>
  <div></div>
</nav>
<style>
  .navbar {
    width: 100vw;
  }
  .navbar-content {
    padding: 0.5rem 1rem;
    top: 0;
    left: 0;
    width: 100%;
    background-color: snow;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
    position: fixed;
  }
  .invisible {
    position: relative;
    opacity: 0%;
  }
</style>
